logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
build/
file/

#Buidler files
cache
artifacts

build
build/*
node_modules/*
*/node_modules
*/node_modules/*
.env
.idea
*.DS_Store
contracts/TEST.sol

